<div class="login-input">
  <div class="login_container">
    <form>
      <div class="psvzwemmen_logo_container">
        
      </div>
      <p class="login_text_header "></p>
      
     

      
    </form>
  </div>
  <!-- DELETE IN FINAL DELIVERY -->
  <!--
  <v-card class="dev_container">
    <p style="text-align: left;" class="login_text">
      <b>Dev notes:</b><br>
      * Make sure the API is running.<br>
      * The current token is valid for 24 hours. You can manually delete the token by removing it from the localstorage or by logging out manually.<br>
      * A user automatically gets logged out if (s)he tries to call the backend or switch component after the token is expired.<br>
      * For usable credentials: see the AuthMockContext, or use:<br><br>
      <b>Email:</b> admin@admin.nl<br>
      <b>Password:</b> admin
    </p>
    -->
  </v-card>




  <div class="ml-16 md:ml-24 lg:ml-32 ">


  <div class="text-xl font-bold mt-4 ">Login</div>
    <div class="bg-red-400 z-40 -mt-2.5 py-1 w-14 "></div> 

    <div class="mt-12 w-10/12 ">
<v-text-field v-model="emailInput"
      class="rounded-lg "
        label="Email"
        required
        outlined
        :rules="emailRules"
        color="#00000"
      ></v-text-field>

 <v-text-field v-model="passwordInput"
      label="Password"
      required
      outlined
      color="#85CBE6"
      type="password"
      autocomplete="on"
      ></v-text-field>

      <router-link :to="{ name: 'resetpassword' }">
        <p alt="" class="float-right text-gray-400 font-light -mt-4 text-sm  ">Forgot your password?</p>
      </router-link>

      <button v-on:click="authenticate" class="login_button_container bg-black text-white py-2 rounded-sm mt-12 ">Sign in</button>

      <router-link :to="{ name: 'onboarding' }"><p class="text-gray-400 font-light text-sm mt-4 text-center ">Don't have an account yet? <b class="text-black">Register</b></p></router-link>
    </div>



  </div>
</div>