<div>
  <section class="container">
    <!-- <TopNavigation module="media"></TopNavigation> -->
    <h1>My notifications</h1> 
      <div v-for="notification in notifications">
        <router-link :to="{ name: 'notifications', params: {notificationId:notification.appId}}">
          <div class="event-card">
              <div class="event-card__title">
                {{notification.title}}
              </div>
              <div class="event-card__description">
                {{notification.message}}
              </div>
          </div>
        </router-link>
    </div>
  </section>
</div>
