@import "./../../main.scss";

.meet_overview_item_container {
    padding-top: 20px;
    margin-bottom: 0px !important;
}

.meet_icon {
    font-size: 16pt;
    padding-right: 8px;
}

.meet_description_text {
    color: $card-grey-description;
}

