<div>
  <section class="container">
  <div class="profile__container" v-if="user != null">
    <div class="profile__profile-picture__container">
      <div class="profile__profile-picture">
        <img alt="Profile picture" src="user.png" />
      </div>
      <div class="profile__profile-name">
        <span>Name: {{user.firstname}} {{user.lastname}}</span>
      </div>
      <div class="profile__profile-role">
        <span>Role: {{user.roleType.toLowerCase().replace(/^./, user.roleType[0].toUpperCase())}}</span>
      </div>
      <div class="profile__profile-email">
        <span>Email: <a v-bind:href="'mailto:' + user.email">{{user.email}}</a></span>
      </div>
    </div>
  </div>
</section>

<top-nav-right />
<div class="flex justify-center">
<div class="" v-for="user in users" :key="user.id">
  <div class="text-2xl font-bold mt-4">
    {{ user.firstname }} {{user.lastname}}
  </div>
<div class="bg-red-400 z-40 -mt-3 -ml-1 py-1 w-20 "></div>
</div>
</div>

<vue-tabs class="mt-12 ">
  <v-tab title="Training">
    <training />
  </v-tab>
  <v-tab title="Agenda">
    <agenda />
  </v-tab>
  <v-tab title="Statistics">
    <statistics />
  </v-tab>
</vue-tabs>



</div>

