<div class="app">
  <TopNavigation></TopNavigation>
  <v-col class="d-flex" cols="12" sm="6">
    <v-text-field
    v-model="search"
    clearable
    outlined
    hide-details
    label="Search"
    color= "#85CBE6"
    ></v-text-field>
  </v-col>  
  
  <v-col class="d-flex" cols="12" sm="6">
    <v-select
    v-model="sortBy"
    outlined
    hide-details
    :items="keys"
    label="Sort by"
    color= "#85CBE6"
    ></v-select>
  </v-col>
  
  <v-container fluid>
    <v-data-iterator
    :items="items"
    :search="search"
    :sort-by="sortBy.toLowerCase()"
    :sort-desc="sortDesc"
    hide-default-footer
    >
    
    <template v-slot:default="props">
      <v-row>
        <v-col
        v-for="item in props.items"
        :key="item.name"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        >
        <v-card color = "#F1F1F1">
          <v-card-title class="subheading font-weight-bold black--text">{{ item.name }}</v-card-title>
          <v-divider></v-divider>
          <v-list color = "#F1F1F1" dense>
            <v-list-item class="white--text"
            v-for="(key, index) in filteredKeys"
            :key="index"
            >
            <v-list-item-content :class="{ 'black--text': sortBy === key }">{{ key }}:</v-list-item-content>
            <v-list-item-content class="align-end" :class="{ 'black--text': sortBy === key }">{{ item[key.toLowerCase()] }}</v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-col>
  </v-row>
</template>
</v-data-iterator>
</v-container>
</div>

