@import "./../../main.scss";


.bottom-navigation-container{
    background-color: $psv-purple !important;
    color: white !important;
}

.bottom-navigation-text{
    color: #fff !important;
}

.bottom_navigation_button {
    height: 50px !important;
}