<section class="athlete-approved-events">
    <h1>Approved events</h1>
    <div v-for="event in approvedEvents">
        <div class="event-card">
            <div class="event-card__title">
                Swimming cup
            </div>
            <div class="event-card__icon">
                <v-icon class="">mdi-check</v-icon>
            </div>
            <div class="event-card__description">
                Backstroke 100 m series
            </div>
            <!--      <v-btn @click="invokeRequestForEvent(event.appId)" color="#E4312C">Invoke request</v-btn>-->
        </div>
    </div>
</section>

