@import "./../../main.scss";

.event-container {
    display: flex;
    width: calc(100% + 32px);
    justify-content: space-between;
}

.event-action-buttons-container {
    display: flex;
    width: 100px;
    justify-content: flex-end;
}

.event-action-button {
    margin-left: 5px;
    margin-top: 8px;
}

.event-action-info {
    color: $psv-blue;
}

.event-action-error {
    color: $psv-red;
}

.circle {
    margin-left: -16px;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 2000px;
    background: linear-gradient(#daf4ff, #f4fafd);
  }